/* Wrapper */
body {
  max-width: 1000px;
  margin: 0 auto;
}

/* Header - logo */
.main_logo {
  width: auto;
  height: 50px;
  margin: auto 0;
}

.slogan {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  right: 300px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

/* Navigation */
.navigation {
  background-color: black;
}

.navigation ul {
  display: flex;
  padding: 20px 5px;
  margin: 5px;
}

.navigation ul li {
  margin-right: 5px;
  list-style: none;
}

.navigation ul li a {
  text-decoration: underline;
  color: white;
}

.first_nav_item {
  margin-left: 25px;
}

/* Promo */
.promo {
  box-sizing: content-box;
  width: 100%;
}

/* Main section */

.main {
  display: flex;
  justify-content: space-between;
}

.right_column {
  background-color: rgb(211, 211, 211);
  width: 30%;
  height: auto;
}

.left_column {
  width: 69%;
}

/* tableau */

td {
  width: 20%;
  text-align: center;
}

.grid_titles {
  font-weight: bold;
}

/* Media Queries */

@media screen and (max-width: 1000px) {
  .right_column {
    display: none;
  }

  .left_column {
    width: 100%;
  }

  .slogan {
    display: none;
  }

  .first_nav_item {
    margin: 0;
  }

  .navigation ul {
    flex-direction: column;
    text-align: center;
  }

  header {
    justify-content: center;
  }

  .main {
    padding: 0 20px;
  }
}
